# Environments
.env
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
!bot_requests.db_template

# Logs
*.log

# IDEs
.vscode/
.idea/

# Node
node_modules/
web/node_modules/

# Local Sessions
*.session
*.session-journal

# Mock Data
mock_image.jpg

# Agent Stuff
.agents/

# Antigravity Skills
.gemini/skills/*
!.gemini/skills/run_tests.md