aiogram==3.4.1
pydantic==2.6.3
pydantic-settings==2.2.1
python-dotenv==1.0.1

motor==3.3.2
dnspython==2.6.1

pytest==8.0.2
pytest-asyncio==0.23.5
black==24.2.0
isort==5.13.2
flake8==7.0.0
sentry-sdk==1.40.6
telethon==1.33.1
cachetools==5.3.3
structlog==24.1.0
google-genai==0.3.0
tzdata==2024.1
redis==5.0.1
fastapi==0.110.0
uvicorn==0.27.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
